name: MSYS2

on: push

jobs:
  msys2_mingw64:
    runs-on: windows-2022
    defaults:
      run:
        shell: msys2 {0}
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true
          install: >-
            git
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-devil
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-pkg-config
      - name: Build
        run: |
          export MSYSTEM=MINGW64
          export CXX=g++
          export CC=gcc
          cd "$GITHUB_WORKSPACE"
          mkdir build
          cd build
          cmake ../
          cmake --build . -j2
      - name: Tests
        run: |
          export MSYSTEM=MINGW64
          cd "$GITHUB_WORKSPACE"/build
          ctest -V
      - name: Build for packaging
        run: |
          export MSYSTEM=MINGW64
          export CXX=g++
          export CC=gcc
          cd "$GITHUB_WORKSPACE"
          mkdir build_package
          cd build_package
          cmake ../ -DENABLE_LTO=ON # -DENABLE_STATIC_STANDARD_LIBRARIES=ON
          cmake --build . -j2
      - name: Tests of build for packaging
        run: |
          export MSYSTEM=MINGW64
          cd "$GITHUB_WORKSPACE"/build_package
          ctest -V
      - name: Gather build artifacts
        run: |
          export MSYSTEM=MINGW64
          cd "$GITHUB_WORKSPACE"
          mkdir artifacts
          ./ci/copy-dll-dependencies.sh build_package/src/dds2png.exe artifacts/
          cp LICENSE artifacts/
          cp readme.md artifacts/
          cp changelog.md artifacts/
          cp documentation/third-party.md artifacts/
          VERSION=$(git describe --always)
          mv artifacts dds2png_${VERSION}
          '/c/Program Files/7-Zip/7z.exe' a -r dds2png_${VERSION}.zip dds2png_${VERSION}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dds2png-win64
          if-no-files-found: error
          path: |
            dds2png*.zip
